* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 2;
  position: relative;
  width: 30%;
  margin-top: 30px;
  margin-left: 70%;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  background-color: #004000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  border: 5px green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-weight: bolder;
  z-index: 2;
}

header nav ul li a:hover {
  background-color: #008000;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url("../assets/background_picture2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #004000;
  color: #fff;
  padding-top: 20px;
  overflow: scroll;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #008000;
}

.dropdown-content {
  display: none;
  background-color: #008000;
  padding: 10px 0;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #004000;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.feature {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.feature label {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature input[type="text"],
.feature input[type="email"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.feature input[type="submit"],
.feature button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.feature input[type="submit"]:hover,
.feature button[type="submit"]:hover {
  background-color: #45a049;
}

.feature form {
  max-width: 500px;
  margin: auto;
}

.main-content .feature {
    display: none;
}